* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  overflow-x: hidden;
  background: #f5f5f5;
}
ul, li {
  list-style: none;
}
input:focus, button:focus, textarea:focus {
  outline: none;
}

header {
  text-align: center;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(79, 163, 239, 0.8);
  border-radius: 2px;
}

.hidden {
  visibility: hidden !important;
}

.layout {
  width: 100%;
  min-width: 720px;
}
.layout-left {
}

.console {
  width: calc(100% - 300px);
  /* height: 100px;; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid #eee;
  padding: 12px;
  background-color: #fff;
}
.config {
  display: flex;
  flex-wrap: wrap;
}
.config-item {
  display: flex;
  margin: 6px 12px;
  align-items: center;
}
.config-item label {
  display: block;
  height: 36px;
  line-height: 36px;
  background-color: #4fa3ef;
  border-radius: 6px 0 0 6px;
  color: #fff;
  padding: 0 0 0 18px;
}
.config-item input {
  height: 36px;
  width: 180px;
  border-radius: 2px;
  border: 1px solid #eee;
  padding: 0 6px;
  font-size: 14px;
}

.output {
  margin-top: 200px;
  width: calc(100% - 320px);
}

.layout-right {
  width: 300px;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  position: fixed;
  border-left: 1px solid #eee;
  padding: 12px;
  z-index: 3;
}

.outputIMGWarp {
  background-color: #fff;
  background-image: linear-gradient(45deg,#14141438 25%,transparent 0,transparent 75%,#14141438 0,#14141438),linear-gradient(45deg,#14141438 25%,transparent 0,transparent 75%,#14141438 0,#14141438);
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px;
  background-repeat: repeat;
  background-clip: content-box;
  margin: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  box-shadow: 0 0 8px #ccc;
  border-radius: 6px 6px 0 0;
  padding-top: 54px;
  position: relative;
}
.outputIMG {
  margin: 24px 0;
  transition: box-shadow 0.2s ease;
}
.outputIMG:hover {
  box-shadow: 0 0 16px #4fa3ef;
}
.outputArrayString {
  overflow-x: auto;
  background-color: #dedede;
  border-top: 1px solid #ccc;
  text-align: left;
}
.outputArrayString pre {
  padding: 1em;
}
.buttons {
  text-align: right;
  margin-top: 24px;
}
.botton {
  width: 80px;
  height: 38px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #4fa3ef;
  color: #fff;
  border: none;
  transition: all 0.2s ease;
}
.botton:hover {
  background-color: #72b9f9;
}

/* 添加素材 */
.big-button {
  display: block;
  padding: 8px 0;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  transition: all 0.2s ease;
}
.big-button:hover {
  cursor: pointer;
}
.big-button.addfile {
  background-color: #67C23A;
}
.big-button.addfile:hover {
  background-color: #76d447;
}
.big-button.clear {
  margin-top: 6px;
  background-color: #F56C6C;
}
.big-button.clear:hover {
  background-color: #f19292;
}
.filelist {
  margin-top: 12px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.file-item {
  background-color: #fff;
  padding: 6px 12px;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: color 0.2s ease;
  position: relative;
  /* animation: enter 0.4s ease;
  animation-fill-mode: both; */
}
.file-item:hover {
  cursor: pointer;
  color: #F56C6C;
}

@keyframes enter {
  from {
    opacity: 0.7;
    transform: translateX(18px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}